{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Rosecore Projects</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
  </head>
  <body>
    {% if project_list %}
    <p> Here All all of the projects </p>
      {% for project in project_list %}
      {%include "project/projectTree.html" with project=project%}
      {% endfor %}
    {% else %}
    <p> Its empty here, want to create a project? </p>
    <p> Or you can try to <a href="{% url 'productivity:sync' %}"> Sync!</a></p>
    {% endif %}
    
    <div class="project_actions"> 
      <button class="project_action" onclick="window.location.href='{% url 'productivity:create_project' %}';">
	Create project
      </button>
      <button class="project_action" onclick="window.location.href='{% url 'productivity:sync' %}';">
	Sync Projects
      </button>
    </div>
  </body>
</html>
