{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ project.name }}</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
  </head>
  <body>
    {% include "rosecore/topnav.html" with project=child %}
    {% if project.synced %}
    <h1>{{ project.name }}</h1>
    <div>
      Todosit ID: {{ project.todoistId }} -- Toggl ID: {{ project.togglId }}
    </div>
    {% else %}
    <h1>{{ project.name }}: unsynced({{ project.unsyncedSource }})</h1>
    {% endif %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <form action="{% url 'productivity:project_info' project_id=project_id %}" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Submit">
    </form>
    {% if not project.synced %}
    <div class="project_actions">
      <button class="project_action sync_action" onclick="window.location.href='{% url 'productivity:auto_sync' project_id=project_id %}';">
	Autosync
      </button>
      <button class="project_action sync_action" onclick="window.location.href='{% url 'productivity:validate' project_id=project_id %}';">
	Validate
      </button>
      <button class="project_action sync_action" onclick="window.location.href='{% url 'productivity:delete_project' project_id=project_id %}';">
	Delete Project
      </button>
    </div>
    {% endif %}
  </body>
<html>
  
