<html>
  <head>
    <meta charset="utf-8">
    <title>{{ project.name }}</title>
  </head>
  <body>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <form action="{% url 'productivity:project_info' project_id=project_id %}" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Submit">
    </form>
    <p>
      <a href="{% url 'productivity:delete_project' project_id=project_id%}">Delete {{ project.name }}</a>
    </p>
    <p>
      <a href="{% url 'productivity:index' %}">View all Projects</a>
    </p>
  </body>
<html>
  
