<html>
  <head>
    <meta charset="utf-8">
    <title>Rosecore Projects</title>
  </head>
  <body>
    {% if project_list %}
    <p> Here All all of the projects </p>
    <ul>
      {% for project in project_list %}
      <li><a href="{% url 'project:project_info' project.id %}">{{ project.name }}</a></li>
      {% endfor %}
    </ul>
    {% else %}
    <p> Its empty here, want to create a project? </p>
    {% endif %}
    <a href="{% url 'project:create_project' %}">Create a new Project</a>
  </body>
</html>
